# Config file
config.ini

# System files
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore file inside folder, but not the folder itself
data/*
checkpoints/*

# Jupyter Notebook
.ipynb_checkpoints

# Keras models
*.h5