# Config file
config.ini

# System files
__pycache__/
*.pyc
*.pyo
*.pyd

# ignore file inside folder, but not the folder itself
data/*
notebooks/checkpoints/*
notebooks/notebooks_prof_rogerio/

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints
*.h5
*.hdf5
*.zip

